
/* paragraph formatting for 2022 and 2023 */
.PP2023
{
  border: 5px solid #A9A9A9;
  background-color: #F5F5F5;
  text-align: Left;
  padding:20px
  margin-bottom:15px
  margin-right: 150px;
  margin-left: 50px;
  margin-top:15px
}


.PP2022{
  border: 5px solid #A9A9A9;
  background-color: #F5F5F5;
  text-align: Left;
  padding:20px
  margin-bottom:15px
  margin-right: 150px;
  margin-left: 50px;
  margin-top:15px
}


