
/* paragraph formatting for 2022 and 2023 */
.PP2023
{
  border: 5px solid #303030;
  background-color: #F5F5F5;
  text-align: Left;
  padding:5px
  margin-bottom:15px
  margin-right: 100px;
  margin-left: 100px;
  margin-top:15px
}


.PP2022{
  border: 5px solid #303030;
  background-color: #F5F5F5;
  text-align: Left;
  padding:10px
  margin-bottom:15px
  margin-right: 100px;
  margin-left: 100px;
  margin-top:15px
}

