/* use of the .elements idea from https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image */

.backgroundheader1 { /* the background image for the header on index.html*/
	background-image: url("img/backgroundv1.jpg");
	/* NO-REPEAT - background image is not repeated and only displayed once */
	background-repeat: no-repeat; /* https://w3schools.com/css/css_background.asp, for css */
	background-position: center top; /* https://w3schools.com/css/css_background.asp, for css */
	/* FIXED - background image will not scroll with the page */
	background-attachment: fixed; /* https://w3schools.com/css/css_background.asp, for css */
	/* COVER - will resize the image to cover the entire container */
	background-size: cover; /* https://w3schools.com/css/css_background.asp, for css */
}

.header { /* the text styles for the header */
	margin-top: 75px; /* margin top and left to offset it from the edge of the photo */
	margin-left: 50px;
	margin-right: 100px;
	margin-bottom: 75px; /* to extend the height of the image */
	/* display and padding add the background colour around the text to only be around the text */
	display: inline-block; /* https://w3schools.com/css/css_inline-block.asp */
	padding: 20px;
	background-color: black;
	opacity: 0.5;
	color: white;
	font-size: 1.5vw;
	/* font family provide a series of font types as a 'fallback' incase a browser doesn't support the initial selected font, prefer Courier New but worst case the browser will choose it's own font in the monospace text family */
	font-family: "Courier New", "Helvetica", monospace; /* https://w3schools.com/css/pr_font_font-family.php, for css */
}

/* https://www.youtube.com/watch?v=e5wjLZzMmYM, for css template but changed location, positioning type, added hover/active styling, and colours */
 *,
 *:before,
 *:after{
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
 }
 nav{
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 background-color: rgba(0, 0, 0, 0.6);
	 position: sticky;
	 top: 251px;
	 padding: 15px 25px;
	 font-size: 0.8vw;
	 font-family: "Courier New", "Helvetica", monospace;
	 backdrop-filter: blur(8px);
	 box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
 }
 ul{
	 list-style: none;
 }
 li{
	 display: inline-block;
 }
 li a{
	 margin-left: 40px;
	 
 }
nav a{
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	outline: none;
 }
nav a:hover{
	background-color: black;
	color: white;
	padding: 15px 25px;
}
nav a:active{
	background-color: #FFCCE5;
	color: white;
	padding: 15px 25px;
}

/* contact button link feature */
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: seashell;
	color:slategray;
	font-weight: 300;
  }
  
  /* button/toggle hover feature and color change */
  .button:hover {
	background: #550505;
  }
  
  /*Display setting for the services section*/
  .flexbox-container {
    display:flex;
    justify-content:center;

}

/*The design of the items inside the boxes*/
.flexbox-item {
    align-items: center;
    text-align: center;
    padding: 15px;
    width:200px;
    margin:10px;
    border: 2px solid #513C2C;
    background-color: whitesmoke;  
}

/*Text style for the main titles*/
h1 {
    text-align: center;
    font-weight: bolder;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    font-size:300%;
    color:seashell

}

/*Text style for the sub-titles*/
h2 {
    font-weight: bolder;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: center;
    font-size: 200%;
    color: #513C2C;
}

h3 {
    font-weight: bolder;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: center;
    font-size: 120%;
    color: #513C2C;
}

.titledescription{
	color: seashell;
    font-size: 130%;
    margin: 10px;
}

/*Color, margin and font size adjustment for paragraphs*/
p{
    color: #513C2C;
    font-size: 130%;
    margin: 10px;

}
  
/*Display stile for the Education section*/
.education{
    line-height: 50px;
    text-align: left;
    padding-left: 20%;
    padding-right:20%;
    margin-bottom: 100px;
}


/*Display setting for the name of fake schools under the Education list*/
.educationline dt{
    font-weight: bold;
    float: left;
}

/*Display setting of the time range of studying at each schools*/
.range{
    font-style: italic;
    float: right;
}

/*Style setting for the description under the list of education histories*/
.edudescript{
    margin-left: 0px;
    display: block;
    clear: both;
}


/* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14, for css
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
} */

  /*Display setting for the services section*/
.flexbox-container {
    display:flex;
    justify-content:center;

}

/*The design of the items inside the boxes*/
.flexbox-item {
    align-items: center;
    text-align: center;
    padding: 15px;
    width:200px;
    margin:10px;
    border: 2px solid #513C2C;
    background-color: whitesmoke;  
}

.wrapper .text-box h1 { /* Body of text from index.html */
	font-weight: bold;
	color: black;
	font-family: "Courier New", "Helvetica", monospace;
}

.wrapper .text-box h2 { /* Body of text from index.html */
	color: black;
	font-family: "Courier New", "Helvetica", monospace;
	padding: 5px;
}

.wrapper .text-box h3 { /* Body of text from index.html */
	color: black;
	font-family: "Courier New", "Helvetica", monospace;
	padding: 10px;
}

.wrapper .text-box h4 { /* Body of text from index.html */
	color: black;
	font-style: italic;
	font-family: "Courier New", "Helvetica", monospace;
}

.wrapper .text-box p { /* Body of text from index.html */
	color: #6e6e6e;
	font-family: "Calibri", sans-serif;
	padding: 2px;
}

.text_body { /* Body of text from team.html */
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_images_side_by_side.asp, for css */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* end */

.TeamMember {
  text-align: center;
}

/* Need to fix this by Hannah */
.flex-contactus {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: left;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .contact-container {
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .contact-container, .flex-item-left {
      flex: 100%;
    }
  }

/*Mengjie Skyler Page*/

#imgSkyler{text-align: center;}

/*Mengjie Past Projects Page*/
/*Putting the Boxes around to separat 2023 and 2022 Projects*/
.PP2023{
	border: 5px solid #A9A9A9;
	background-color: #F5F5F5;
	text-align: left;
	padding: 20px;
	margin-bottom: 40px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 15px;
  }
/*Change the text style of h2 h3 and paragraph in the first box on the project page*/
  .PP2023 h2{ 
	font-weight: 700;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 150%;
    color: rgb(65, 59, 59);
  }

  .PP2023 h3{ 
	font-weight: 600;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 120%;
    color: rgb(112, 106, 106);
  }

  .PP2023 h4{ 
	font-weight: 500;
	font-style: italic; 
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 100%;
    color: rgb(104, 97, 97)
  }

  .PP2023 p{ 
	font-weight: 400;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    color: rgb(85, 67, 52);
    font-size: 110%;
  }

/*Putting the Boxes around to separat 2023 and 2022 Projects*/
.PP2022{
	border: 5px solid #A9A9A9;
	background-color: #F5F5F5;
	text-align: left;
	padding:20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top:40px
  }

/*Box around Picutres*/
.PPPictures{
border: 5px solid #A9A9A9;
	background-color: #F5F5F5;
	padding:20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top:40px;
	text-align: center;
}
/*Space between Picutres*/
#imgPP1{margin-left:25px; margin-right:25px;}
#imgPP2{margin-left:25px; margin-right:25px;}
#imgPP3{margin-left:25px; margin-right:25px;}

/*Change the text style of h2 h3 and paragraph in the second box on project page */
.PP2022 h2{ 
	font-weight: 700;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 150%;
    color: rgb(65, 59, 59);
  }

  .PP2022 h3{ 
	font-weight: 600;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 120%;
    color: rgb(112, 106, 106);
  }

  .PP2022 h4{ 
	font-weight: 500;
	font-style: italic; 
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    font-size: 100%;
    color: rgb(104, 97, 97)
  }

  .PP2022 p{ 
	font-weight: 400;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    text-align: left;
    color: rgb(85, 67, 52);
    font-size: 110%;
  }


/*Spacing projects in 2023*/
.PP2023One{
	margin-top: 25px;
	margin-bottom: 25px;
}

.PP2023Two{
	margin-top: 25px;
	margin-bottom: 25px;
}

.PP2023Three{
	margin-top: 25px;
	margin-bottom: 25px;
}

.PP2023Four{
    margin-top: 25px;
	margin-bottom: 25px;
}

.PP2023Five{
    margin-top: 25px;
	margin-bottom: 25px;
}

/*Spacing projects in 2022*/

.PP2022One{
    margin-top: 25px;
	margin-bottom: 25px;
}

.PP2022Two{
    margin-top: 25px;
	margin-bottom: 25px;
}

.PP2022Three{
    margin-top: 25px;
	margin-bottom: 25px;
}
/*Mengjie End Past Projects Page*/

/* Contact us page by Hannah */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.disclaimer  {
    height: 15vh; /* Height of the overall section */
    background-color: rgba(0, 0, 0, 0.6);
    border: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: "Courier New", "Helvetica", monospace;
    font-size: 15px;
    text-align: left;
    padding: 30px; /* To create space from the edges of the border and the text */
    margin-top: 100px; /* To give a specified separation from the above text */
}

/* Fun facts - Steeler's page*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_outline_buttons2 */
.btn {
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

.funfacts {
	text-align: center;
}

.fact {
	border-color: lightsteelblue;
	background: steelblue;
	color: white
  }
  
.fact:hover {
background: white;
color: steelblue;
}
